<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{{htmlWebpackPlugin.options.title}}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' type="text/css" href="{{{htmlWebpackPlugin.files.css}}}">
  {{#if htmlWebpackPlugin.options.url}}
  <link rel="canonical" href="{{{htmlWebpackPlugin.options.url}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.icons}}
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
  <link rel="icon" type="image/png" href="favicon-192x192.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="theme-color" content="#ffffff" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.description}}
  <meta name="description" content="{{{htmlWebpackPlugin.options.description}}}" />
  {{/if}}
  <!-- Schema.org markup for Google+ -->
  {{#if htmlWebpackPlugin.options.title}}
  <meta itemprop="name" content="{{{htmlWebpackPlugin.options.title}}}">
  {{/if}}
  {{#if htmlWebpackPlugin.options.description}}
  <meta itemprop="description" content="{{{htmlWebpackPlugin.options.description}}}">
  {{/if}}
  {{#if htmlWebpackPlugin.options.schemaImage}}
  <meta itemprop="image" content="{{{htmlWebpackPlugin.options.schemaImage}}}">
  {{/if}}
  {{#if htmlWebpackPlugin.options.description}}
  <!-- Twitter data -->
  <meta name="twitter:card" content="summary_large_image">
    {{#if htmlWebpackPlugin.options.twitterSite}}
  <meta name="twitter:site" content="{{{htmlWebpackPlugin.options.twitterSite}}}">
    {{/if}}
    {{#if htmlWebpackPlugin.options.title}}
  <meta name="twitter:title" content="{{{htmlWebpackPlugin.options.title}}}">
    {{/if}}
    {{#if htmlWebpackPlugin.options.description}}
  <meta name="twitter:description" content="{{{htmlWebpackPlugin.options.description}}}">
    {{/if}}
    {{#if htmlWebpackPlugin.options.twitterCreator}}
  <meta name="twitter:creator" content="{{{htmlWebpackPlugin.options.twitterCreator}}}">
    {{/if}}
    {{#if htmlWebpackPlugin.options.twitterImage}}
  <meta name="twitter:image:src" content="{{{htmlWebpackPlugin.options.twitterImage}}}">
    {{/if}}
  {{/if}}
  <!-- Open Graph data -->
  {{#if htmlWebpackPlugin.options.title}}
  <meta property="og:title" content="{{{htmlWebpackPlugin.options.title}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.ogType}}
  <meta property="og:type" content="{{{htmlWebpackPlugin.options.ogType}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.url}}
  <meta property="og:url" content="{{{htmlWebpackPlugin.options.url}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.openGraphImage}}
  <meta property="og:image" content="{{{htmlWebpackPlugin.options.openGraphImage}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.description}}
  <meta property="og:description" content="{{{htmlWebpackPlugin.options.description}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.ogSiteName}}
  <meta property="og:site_name" content="{{{htmlWebpackPlugin.options.ogSiteName}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.fbAppId}}
  <meta property="fb:app_id" content="{{{htmlWebpackPlugin.options.fbAppId}}}" />
  {{/if}}
  {{#if htmlWebpackPlugin.options.enableIntercom}}
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/i2twhziy';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  {{/if}}

  <link href="//cloud.webtype.com/css/5b29d56e-0888-41d0-9783-ec847581b9f9.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id='content'></div>

  {{#if htmlWebpackPlugin.options.googleAnalytics}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65400709-2', 'auto');
  </script>
  {{/if}}
  {{#if htmlWebpackPlugin.options.googleAnalyticsSendPageView}}
  <script>
    ga('send', 'pageview');
  </script>
  {{/if}}
  <script defer src="{{{htmlWebpackPlugin.files.chunks.manifest.entry}}}"></script>
  <script defer src="{{{htmlWebpackPlugin.files.chunks.vendor.entry}}}"></script>
  <script defer src="{{{htmlWebpackPlugin.files.chunks.main.entry}}}"></script>
  {{#if htmlWebpackPlugin.options.devServer}}
  <script src="http://localhost:3000/webpack-dev-server.js"></script>
  {{/if}}
</body>
</html>
